<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
  .layout {
    width : 500px;
    margin : 0 auto;
    margin-top : 40px;
  }

  .layout input {
    width : 100%;
    box-sizing : border-box;
  }

  .layout textarea {
    width : 100%;
    margin-top : 10px;
    min-height : 300px;
  }

</style>
<body>
  <div sec:if="${authenticated}" class="layout">
    <form sec:authorize="isAuthenticated()"
        th:action="@{/post/write}" method="post">
        <input th:field="${form.title}" placeholder="제목을 입력하세요.">
        <textarea th:field="${form.content}" placeholder="내용을 입력하세요."></textarea>
        <button type="submit">작성하기</button>
    </form>
  </div>
</body>
</html>