<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<style>

  .layout {
    width: 500px;
  }


</style>
<body>
  <h1>Welcome to My Post List page!</h1>
  <div><a th:href="@{/post/write}">글 쓰기</a></div>
  <div><a th:href="@{/logout}">logout</a></div>


  <div class="layout">

    <table>
      <thead>
        <tr>글 번호</tr>
        <tr>제목</tr>
      </thead>
      <tbody>
        <tr th:each="post : ${postList}">
          <td th:text="${post.postId}">글 번호</td>
          <td><a th:text="${post.title}" th:href="@{/post/{postId}(postId = ${post.postId})}">글 제목</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>