<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Login Page</h1>
        <p>
          Welcome to my home page!
        </p>
        <form action="/loginProc" name="login" method="post">
          <div> Email: <input type="text" name="email"></div>
          <div> Password: <input type="password" name="password"></div>

          <p></p>

          <button type="submit"> Login </button>
          <button type="button" onclick="location.href='/member/signup' "> Sign up </button>
          <button type="button" onclick="location.href='/post/list' "> Enter as an anonymous User</button>

        </form>
      </div>
    </div>
  </body>
</html>